<div class="animate__animated animate__fadeIn">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Registro de Empleados</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 profile d-flex align-items-center">
      <div class="row">
        <div class="col-12 my-2">
          <div class="profile-preview">
            <nb-icon
              icon="edit-2-outline"
              (click)="onOpenDialog()"
              class="profile-icon"
              nbTooltip="Cambiar foto"
            ></nb-icon>
            <img
              [src]="imgPreview || '../../../assets/images/default.jpg'"
              class="profile-image"
            />
          </div>
        </div>
        <div class="col-12 my-2">
          <input
            type="file"
            (change)="onChangeImage($event)"
            #openDialog
            class="d-none"
            accept="image/*"
          />
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <nb-alert
        class="animate__animated animate__fadeIn"
        [status]="alert.status"
        *ngIf="alert.show"
        >{{ alert.message }}</nb-alert
      >
      <form
        [formGroup]="registerForm"
        autocomplete="off"
        (ngSubmit)="onSubmit()"
        appAlert
        (verifyForm)="verifyAlert()"
      >
        <div class="my-2">
          <div class="row">
            <div class="col-12 col-md-6">
              <label for="fname" class="mb-1">Nombre</label>
              <input
                type="text"
                id="fname"
                nbInput
                fullWidth
                [status]="isValidFname ? 'basic' : 'danger'"
                placeholder="José Antonio"
                [formControlName]="'fname'"
              />
            </div>
            <div class="col-12 col-md-6">
              <label for="fname" class="mb-1">Apellido</label>
              <input
                type="text"
                nbInput
                fullWidth
                [status]="isValidLname ? 'basic' : 'danger'"
                placeholder="Castillo Medina"
                [formControlName]="'lname'"
              />
            </div>
          </div>
          <div class="my-2">
            <label for="email" class="mb-1">Correo Electrónico</label>
            <input
              type="email"
              id="email"
              [formControlName]="'email'"
              nbInput
              fullWidth
              placeholder="email@example.com"
              [status]="isValidEmail ? 'basic' : 'danger'"
            />
          </div>
          <div class="my-2">
            <label for="salary" class="mb-1">Salario</label>
            <input
              type="text"
              id="salary"
              [formControlName]="'salary'"
              nbInput
              fullWidth
              placeholder="15000"
              [status]="isValidSalary ? 'basic' : 'danger'"
            />
          </div>
          <div class="my-2">
            <label for="phone_number" class="mb-1">Celular/Teléfono</label>
            <input
              type="text"
              id="phone_number"
              [formControlName]="'phone_number'"
              nbInput
              fullWidth
              placeholder="00000000"
              [status]="isValidPhoneNumber ? 'basic' : 'danger'"
            />
          </div>
          <div class="my-2">
            <label for="phone_number" class="mb-1">Cargo</label>
            <nb-select
              placeholder="Selecciona un cargo"
              fullWidth
              [formControlName]="'job_id'"
              [selected]="registerForm.get('job_id').value"
            >
              <nb-option [value]="job.job_id" *ngFor="let job of jobs">{{
                job.job_title
              }}</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="my-2">
          <div class="row">
            <div class="col-12 col-md-6">
              <button
                nbButton
                type="submit"
                status="primary"
                fullWidth
                [disabled]="registerForm.invalid"
                [nbSpinner]="loading"
              >
                Registrar
              </button>
            </div>
            <div class="col-12 col-md-6">
              <button
                nbButton
                type="button"
                status="danger"
                fullWidth
                (click)="clear()"
              >
                Limpiar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
